body {
    background-color: #0c0044;
    color: #CCCCCC;
}

a {
    font: 16px monospace;
    color: #FF004C
}

.reply_link {
    font: 16px monospace;
    font-weight: bold;
    margin-bottom: 5px;
    font-style: italic;
}

a.post-link {
    font: 16px monospace;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 5px;
}

body.notfound {
    font: 16px monospace;
    justify-content: center;
}

div.code_204 {
    font: 16px monospace;
    margin-top: 15px;
}

div.post {
    background-color: #00174C;
    padding: 5px 10px 5px 10px;
}

div.index-post {
    margin-top: 10px;
    margin-bottom: 10px;
    font: 16px monospace;
    border-left: solid #FFF;
    border-width: 5px;
    border-spacing: 5px;
}

span.post_contents {
    font: 16px monospace;
    margin-top: 0;
}

div.post-reply {
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font: 16px monospace;
    border-left: solid #FFF;
    border-width: 5px;
    border-spacing: 5px;
    background-color: #003773;
}

div.user-info {
    font: 16px monospace;
    margin-top: 15px;
}

form.reply-button {
    margin-top: 10px;
}

header {
    font: 16pt monospace;
    width: 99%;
    height: 30px;
    top: 0;
    left: 0;
    right: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 0;
    align-items: center;
}

p {
    font: 16px monospace;
    margin-top: 0;
    margin-bottom: 0;
}

p.post_id {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0;
}

p.post_contents {
    margin-top: 0;
    margin-bottom: 10px;
}

body {
    margin-left: 40px;
    margin-right: 40px;
}