body {
    background-color: #0c0044;
    color: #CCCCCC;
    font-family: trebuchet ms,sans-serif;
    font-size: 16px;
}

abbr {
    font-weight: normal;
}

a {
    color: #FF004C
}

.reply-link {
    font-weight: bold;
    margin-bottom: 5px;
    font-style: italic;
}

a.post-link {
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 5px;
}

body.notfound {
    justify-content: center;
}

div.code-204 {
    margin-top: 15px;
}

div.post {
    background-color: #00174C;
    padding: 5px 10px 5px 10px;
}

div.index-post {
    margin-top: 10px;
    margin-bottom: 10px;
    border-left: solid #FFF;
    border-width: 5px;
    border-spacing: 5px;
}

span.post-contents {
    margin-top: 0;
}

div.post-reply {
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left: solid #FFF;
    border-width: 5px;
    border-spacing: 5px;
    background-color: #003773;
}

div.user-info {
    margin-top: 15px;
}

form.reply-button {
    margin-top: 10px;
}

header {
    width: 99%;
    height: 30px;
    top: 0;
    left: 0;
    right: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 0;
    align-items: center;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

p.post-id {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0;
}

p.post-contents {
    margin-top: 0;
    margin-bottom: 10px;
}

body {
    margin-left: 40px;
    margin-right: 40px;
}

.input {
    font: 16px monospace
}