{{define "title"}}login{{end}}
{{define "scripts"}}{{end}}
{{define "body"}}
<form method="post" action="login">
    <input type="text" class="input" placeholder="user_id" name="user_id"/><br>
    <input type="password" class="input" placeholder="password" name="password"/><br>

    {{if eq . "true"}}
    <p style="color: #F00; font: 16px monospace">Wrong username/password!</p>
    {{else if eq . "false"}}
    <p style="color: #0A7; font: 16px monospace">Successful!</p>
    {{else if eq . ""}}
    <p></p>
    {{end}}
    <br>
    <button id="submit" class="input" type="submit" style="align-self: center;">login</button>
</form>
{{end}}